@import '../vars';

.GitHubApi {
  width: 900px;
  margin: auto;
  text-align: center;
  background-color: #ecf0f1;
  margin-bottom: $gutter;
}

.GitHubApi_search-result{
  text-align: left;
  margin: $gutter / 2;
  padding: $gutter / 2;
  background-color: white;
  border: 1px $borderColor solid;

  &-good{
    background-color: rgb(61, 163, 61, 0.25);
  }

  &-nop{
    background-color: rgb(194, 85, 85, 0.25);
  }
}

@media only screen and (max-width: 900px) {
  .GitHubApi {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #ecf0f1;
  }
}
