// on importe le fichier pour pouvoir utiliser les variables
@import '../../vars';

.ingredients {
  margin-bottom: 2rem;

  .ingredient {
    padding: 0.8rem 2rem;
    border-bottom: 1px solid #ccc;

    /* & sera remplacé par le nom du parent, ici ".ingredient" */
    &:last-child {
      border-bottom: 0;
    }
  }

  /*.ingredient:last-child {
    border-bottom: 0;
  }*/

  .quantity {
    // utilisation de la variable
    background-color: $mainColor;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
  }
}